{% extends "webApp/base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

<div class="container mt-3"> <!--style="margin-left: 0%;-->
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">[teste]Lorem Ipsum[teste]</h5>
            <p class="card-text">
              [texto teste]
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum at metus et gravida. Vestibulum volutpat sapien ex, vel egestas mi semper ac. Duis erat ante, placerat sit amet ex nec, tincidunt dictum erat. Morbi blandit felis id pretium dictum. Nunc fermentum metus ac neque sagittis eleifend quis quis erat. Pellentesque non purus pulvinar dui eleifend mollis eget vel enim. In at quam tortor.
              [texto teste]
              Texto teste <code>TESTE</code>.
            </p>
            <a href=""
               class="btn btn-dark">
              BOTÃO TESTE
            </a>
        </div>
      </div>
    </div> 
  </div>
</div>

<div class="container mt-3"> <!--style="margin-left: 0%;-->
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">[teste]Lorem Ipsum[teste]</h5>
            <p class="card-text">
              [texto teste]
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum at metus et gravida. Vestibulum volutpat sapien ex, vel egestas mi semper ac. Duis erat ante, placerat sit amet ex nec, tincidunt dictum erat. Morbi blandit felis id pretium dictum. Nunc fermentum metus ac neque sagittis eleifend quis quis erat. Pellentesque non purus pulvinar dui eleifend mollis eget vel enim. In at quam tortor.
              [texto teste]
              Texto teste <code>TESTE</code>.
            </p>
            <a href=""
               class="btn btn-dark">
              BOTÃO TESTE
            </a>
        </div>
      </div>
    </div> 
  </div>
</div>


{% endblock %}